body {
    direction: rtl;
}
a.LINK:link, a.LINK:visited {
  background-color: powderblue;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.LINK:hover, .btn btn-outline-dark:active {
  background-color: white;
}

footer {
    background-color: black;
    margin: 0;
    padding: 15px;
    padding-right: 50px;
}

footer p {
       margin: 0;
    color: #fff;
}

footer p a{
    color: #fff;
}
p.footer {text-align: center;
    
}
